<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <div
        class="d-flex align-items-center justify-content-between p-3 my-3 text-white-50 rounded shadow-sm"
        style="background-color: #d6d6d6;"
      >
        <div class="lh-100">
          <h2 class="mb-0 text-white lh-100"><%= wiki.title %></h2>
        </div>
      </div>
      <form class="py-3 " action="<%= `/wikis/${wiki.id}/update` %>" method="POST">
        <div class="form-group mx-3">
          <label for="wikiTitel">Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="wikiTitel"
            aria-describedby="wikiHelp"
            placeholder="Title"
            value="<%= wiki.title %>"
          />
          <small id="wikiHelp" class="form-text text-muted"
            >The title cannot be empty.</small
          >
        </div>
        <div class="form-group d-flex flex-md-row flex-column justify-content-md-around align-items-center" style="max-height: 1000px">
          <div class="mx-3 my-3" style="min-width: 250px; width: 450px; height: 300px;">
            <label for="wikiBody">Text</label>
            <textarea class="form-control h-100 mw-100"
              name="body"
              id="wikiBody"
              oninput="this.editor.update()"
              ><%= wiki.body %></textarea>
          </div>
          <div class="mx-3 my-3" style="min-width: 250px; width: 450px; height: 300px;">
            <label for="preview">Preview</label>
            <div class="bg-light px-3 overflow-auto border rounded h-100 mw-100" id="preview"> </div>
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js"></script>
          <script>
            function Editor(input, preview) {
              var md = window.markdownit();
              this.update = function () {
                preview.innerHTML = md.render(input.value);
              };
              input.editor = this;
              this.update();
            }
            var $ = function (id) { return document.getElementById(id); };
            new Editor($("wikiBody"), $("preview"));
          </script>
        </div>
        <% if(currentUser && ((currentUser.role == 1 && currentUser.id === wiki.userId) || currentUser.role == 10)) { %>
        <div class="form-group custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="privateCheck" name="private" value="true" <%= wiki.private ? "checked":"" %>>
          <label class="custom-control-label" for="privateCheck">Private</label>
        </div>
        <br>
        <% } %>
        <div class="px-3 pt-5">
          <button type="submit" class="btn btn-dark">Submit</button>
          <a href="<%= `/wikis/${wiki.id}` %>" class="btn btn-dark">Cancel</a>
        </div>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
