<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>
  <% const isCollaborator = wiki.collaborators.filter(collaborator => collaborator.userId == currentUser.id).length === 1 %>

  <main class="container">
    <% include ../static/partials/messages.ejs %>
    <div class="d-flex align-items-center justify-content-between p-3 my-3 text-dark-50 rounded shadow-sm"
      style="background-color: #dfdfdf;">
      <div class="lh-100">
        <h2 class="mb-0 lh-100"><%= wiki.title %></h2>
      </div>
      <% if(currentUser) { %>
      <div>
        <a href="<%= `/wikis/${wiki.id}/edit` %>" class="btn btn-outline-dark">Edit</a>
        <% if(wiki.private && (wiki.userId == currentUser.id)) { %>
        <a href="<%= `/wikis/${wiki.id}/collaborator` %>" class="btn btn-outline-primary">Collaborators</a>
        <% } %>
        <% if(!isCollaborator) {%>
        <a href="<%= `/wikis/${wiki.id}/delete` %>" class="btn btn-outline-danger">Delete</a>
        <% } %>
      </div>
      <% } %>
    </div>
    <div class="px-3">
      <%- md.render(wiki.body) %>
    </div>
  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>

</html>